body {
  background-color: #444;
  background-image: url(41349b20dcade9a639847b531d507e3a.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

